<ng-sidebar-container>
  <!-- A sidebar -->

  <ng-sidebar [opened]="opened">
    <nav class="w-100">
      <ul class="d-flex flex-column p-0">
        <li class="nav__item" (click)="enviarCrearModulo()">
          <a class="item__link"
            ><i class="fas fa-address-book decoration"></i>Crear Modulo</a
          >
        </li>
        <li class="nav__item" (click)="enviarCrearSeminario()">
          <a class="item__link">
            <i class="fas fa-business-time decoration"></i> Crear Seminario
          </a>
        </li>
        <li class="nav__item">
          <a class="item__link" #enlace (click)="desplegar()">
            <i class="fas fa-check-square decoration"></i> Asignación
            <i class="fas fa-angle-down margenes"></i
          ></a>
          <ul #submenu class="submenu nav__item w-100">
            <li class="nav__item w-100">
              <a class="item__link d-block">Asignar Banco-Modulo </a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="item__link">
            <i class="fas fa-book-open decoration"></i> Controlar Módulo</a
          >
        </li>
        <li class="nav__item">
          <a #enlace_dos (click)="desplegar2()" class="item__link">
            <i class="far fa-clipboard decoration"></i> Reportes
            <i class="fas fa-angle-down margenes"></i
          ></a>
          <ul #submenu2 class="submenu">
            <li class="nav__item w-100">
              <a class="item__link d-block" 
                >Desarrollo de modulos por bancos
              </a>
            </li>
            <li class="nav__item">
              <a class="item__link item__link:alineacion" (click)="enviarParticipacion()" >Participación</a>
            </li>
            <li class="nav__item">
              <a class="item__link item__link:alineacion" (click)="enviarParticipantes()" >Participantes</a>
            </li>
            <li class="nav__item">
              <a class="item__link item__link:alineacion" (click)="enviarSeminario()" 
                >Participación Seminario</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </ng-sidebar>
</ng-sidebar-container>
