<div class="container-fluid ">
    <div class="row contenedor">
        <div class="col-8">
            <h1 class="titulo1">Generar Reporte/ Participantes</h1>
        </div>
        <div class="col-4 contenedor-boton">
         <button type="button" class="btn btn-success">Enviar</button>
     </div>
     <div class="contenedor-opciones row">
         <div class="col-3">
             <select class="form-select" aria-label="Default select example">
                 <option selected>SEDE</option>
                 <option value="1">APCE</option>
                 <option value="2">APCN</option>
                 <option value="3">APCS</option>
               </select>
         </div>
         <div class="col-3">
             <select class="form-select" aria-label="Default select example">
                 <option selected>DISTRITO</option>
                 <option value="1">Chaclacayo</option>
                 <option value="2">Chosico</option>
                 <option value="3">La Molina</option>
               </select>
         </div>
         <div class="col-3">
             <select class="form-select" aria-label="Default select example">
                 <option selected>BANCO COMUNAL</option>
                 <option value="1">Los geranios</option>
                 <option value="2">Vallecito</option>
                 
               </select>
         </div>
         <div class="col-3">
             <select class="form-select" aria-label="Default select example">
                 <option selected>Modulo</option>
                 <option value="1">Facebook Marketplace</option>
                 <option value="2">Whatsaap</option>
                 <option value="3">Salud en la Pandemia</option>
               </select>
         </div>
       
     
     </div>
     <div class="col-12 tabla">
        <SIGCA-tabla-participantes></SIGCA-tabla-participantes>
     </div>
     
    </div>
 </div>
 
 
 