<div class=" margenes-costado">
  <header class="row m-0 size-1">
    <div class="col-xl-12 p-0">
      <SIGCA-nav-top></SIGCA-nav-top>
    </div>
  </header>

<body>
<div class="container" style="height: 700px;">
<div class="row" >
  <div class="col-4" >
    <div class="accordion" id="accordionExample" style="margin-top: 20px;">
      <div class="accordion-item" style="box-shadow: 2px 2px 5px rgb(124, 124, 124);">
        <h2 class="accordion-header" id="headingOne">
          <button style="background-color: #007B5F; color: white;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <b>Sesion 1</b>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="flex-direction: column; display: flex;">
            <div class="d-grid gap-2">
              <a href="https://www.youtube.com/embed/Sld5v-GIcrE?rel=0" target="reproduccion" onclick="">
                <button class="btn btn-outline-secondary" type="button" style="width: 100%; text-align: left;">
                  <div class="row">
                    <div class="col-10">Canto Inicial</div>
                    <div class="col-2"><i class="fas fa-check-circle" style="color: green;"></i></div>
                  </div>
                </button>
              </a>
              <a href="https://www.youtube.com/embed/eSAMPAQwklc?rel=0" target="reproduccion">
                <button class="btn btn-outline-secondary" type="button" style="width: 100%; text-align: left;">
                  <div class="row">
                    <div class="col-10">Meditación</div>
                    <div class="col-2"><i class="fas fa-check-circle" style="color: green;"></i></div>
                  </div>
                </button>
              </a>
              <a href="https://docs.google.com/viewer?srcid=1MS5Anh5IpiGryD5hjFbe2anV06sW517I&pid=explorer&efh=false&a=v&chrome=false&embedded=true" target="reproduccion">
                <button class="btn btn-outline-secondary" type="button" style="width: 100%; text-align: left;">
                  <div class="row">
                    <div class="col-10">PDF </div>
                    <div class="col-2"><i class="fas fa-check-circle" style="color: green;"></i></div>
                  </div>
                </button>
              </a>
              <a href="/assets/images/1.pdf" target="reproduccion">
                <button class="btn btn-outline-secondary" type="button" style="width: 100%; text-align: left;">
                  <div class="row">
                    <div class="col-10">Recurso 4</div>
                    <div class="col-2"><i class="fas fa-check-circle" style="color: green;"></i></div>
                  </div>
                </button>
              </a>
              <a href="/assets/images/1.pdf" target="reproduccion">
                <button class="btn btn-outline-secondary" type="button" style="width: 100%; text-align: left;">
                  <div class="row">
                    <div class="col-10">Recurso 5</div>
                    <div class="col-2"></div>
                  </div>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="box-shadow: 2px 2px 5px rgb(124, 124, 124);">
        <h2 class="accordion-header" id="headingTwo">
          <button style="background-color: #007B5F; color: white;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <b>Sesion 2</b>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="d-grid gap-2">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-secondary" type="button">Recurso 1</button>
                <button class="btn btn-outline-secondary" type="button">Recurso 2</button>
                <button class="btn btn-outline-secondary" type="button">Recurso 3</button>
                <button class="btn btn-outline-secondary" type="button">Recurso 4</button>
                <button class="btn btn-outline-secondary" type="button">Recurso 5</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item" style="box-shadow: 2px 2px 5px rgb(124, 124, 124);">
        <h2 class="accordion-header" id="headingThree">
          <button style="background-color: #007B5F; color: white;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <b>Sesion 3</b>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="d-grid gap-2">
              <button class="btn btn-outline-secondary" type="button">Recurso 1</button>
              <button class="btn btn-outline-secondary" type="button">Recurso 2</button>
              <button class="btn btn-outline-secondary" type="button">Recurso 3</button>
              <button class="btn btn-outline-secondary" type="button">Recurso 4</button>
              <button class="btn btn-outline-secondary" type="button">Recurso 5</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8" style="margin-top: 20px;">
    <iframe src="" frameborder="0" height="500px" width="100%" name="reproduccion" style="box-shadow: 2px 2px 5px rgb(124, 124, 124); border-radius: 1%;" >
    </iframe>
    <div class="calificacion" style="text-align: right;">
      <b>¿Que tan bueno te parecio esto?  =  </b>
      <span class="fas fa-star" id="1estrella" onclick="calificar(this)"></span>
      <span class="fas fa-star" id="2estrella" onclick="calificar(this)"></span>
      <span class="fas fa-star" id="3estrella" onclick="calificar(this)"></span>
      <span class="fas fa-star" id="4estrella" onclick="calificar(this)"></span>
      <span class="fas fa-star" id="5estrella" onclick="calificar(this)"></span>
      </div>
  </div>
</div>
</div>
</body>
