<table class="table table-bordered">
    
    <thead>
        <tr>
            <th>#</th>
            <th>Seminario</th>
            <th>Sede</th>
            <th>Distrito</th>
            <th>Banco</th>
            <th>Fecha</th>
            <th>Progreso</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="Progreso">
                
                <progress class="barra" max="100"  value=50> </progress>
            </td>
            </tr>
           
            
       
    </tbody>
</table>