<body>
    <Header>
    <h1>MÓDULOS</h1>
    <hr>
    <div class="container">
      <select class="form-select" aria-label="Default select example">
        <option selected>Selecione Módulo</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <button type="button" class="btn btn-outline-success">+</button>
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecione Año</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </Header>
    <main>
        <div class="container2">
            <h2>Registrar Módulo</h2>
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nombre</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese Nombre">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Selecione tipo de módulo</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option></option>
                    <option>Espiritual</option>
                    <option>Social</option>
                    <option>Integral</option>
                    <option>Físico</option>
                  </select>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Descripcion</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
              <div class="botones">
              <button type="button" class="btn btn-success">Registrar</button>
              <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
            </div>


    </main>
    
</body>