
<table class="table table-bordered">
    
    <thead>
        <tr>
            <th>#</th>
            <th>Seminario</th>
            <th>Sede</th>
            <th>Distrito</th>
            <th>Banco</th>
            <th>Fecha</th>
            <th>Progreso</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of reportes">
            <td>1</td>
            <td>{{pro.seminario}}</td>
            <td>{{pro.sede}}</td>
            <td>{{pro.distrito}}</td>
            <td>{{pro.banco}}</td>
            <td>{{pro.fecha}}</td>
            <td class="Progreso">
                
                <progress class="barra" max="100"  value={{pro.progreso}}> </progress>
            </td>
            </tr>
           
            
       
    </tbody>
</table>

