<div class="container-fluid">
  <div class="row" style="margin-top:3%">
    <div class="col">
     <h1>Banco Comunal</h1>
    </div>
    <div class="col">
     <h1>Modulo</h1>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <select class="form-select bg-secondary btn-secondary" aria-label="Default select example" >
              <option value="1">SEDE 1</option>
              <option value="2">SEDE 2</option>
              <option value="3">SEDE 3</option>
            </select>
      </div>
      <div class="col">
          <select class="form-select bg-secondary btn-secondary" aria-label="Default select example">
              <option value="1">CATEGORIA 1</option>
              <option value="2">CATEGORIA 2</option>
              <option value="3">CATEGORIA 3</option>
            </select>
      </div>
  </div>
