<div class="container text-center mt-5 mb-5">
    <div class="col-12 caja" >
      <div class="caja2">
        <h2 class="caja3"><b>Ventas Online</b></h2>
      <img
        src="/assets/images/1.jpg"
        class="img-fluid"
        alt=""
      />
      <progress class="barra" max="100"  value=75> Progreso</progress>
      <div class="caja3">
        <button routerLink="/vistaModulo" type="button" class="btn btn-success boton">Ingresar</button>
      </div>
      <div class="divi">

      </div>
      </div>
    </div>
</div>
