<div class="container" id="todo">
  <div class="row">
      <div class="col">
          <h2 style="margin-top: 10px; color: white;">Ventas Online</h2>
          <img src="/assets/images/1.jpg" class="img-fluid" alt="" style="margin-top: 20px;">
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <button type="button" class="btn btn-primary" style="margin: 20px;">Ingresar <i class="fas fa-car"></i></button>
      </div>
      <div class="col" style="width: 40%;">
        2 of 2
      </div>
    </div>
</div>
