<div class="row" style="margin-top:1%; margin-right:0; margin-left:0;" >
  <div class="col">
      <div class="card-body text-success alert-secondary">
        <div class="card-body text-success" style="min-height: 33rem; max-height: 33rem; overflow-y:auto;">
              <button type="button" class="btn btn-secondary btn-md mb-3">
                  SELECCIONAR TODO
              </button>
              <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     BANCO SAN JUAN DE DIOS
                  </button>
              </div>
              <div type="button" class="card border-success mb-3 bg-secondary" >
                <button class="card-body btn btn-md btn-secondary">
                   BANCO LoS GIRASOLES
                </button>
            </div>
            <div type="button" class="card border-success mb-3 bg-secondary" >
              <button class="card-body btn btn-md btn-secondary">
                 BANCO SAN CARLOS
              </button>
          </div>
          <div type="button" class="card border-success mb-3 bg-secondary" >
            <button class="card-body btn btn-md btn-secondary">
               BANCO EZEQUIEL
            </button>
          </div>
          <div type="button" class="card border-success mb-3 bg-secondary" >
            <button class="card-body btn btn-md btn-secondary">
               BANCO EZEQUIEL
            </button>
          </div>
          <div type="button" class="card border-success mb-3 bg-secondary" >
            <button class="card-body btn btn-md btn-secondary">
               BANCO EZEQUIEL
            </button>
          </div>
          <div type="button" class="card border-success mb-3 bg-secondary" >
            <button class="card-body btn btn-md btn-secondary">
               BANCO EZEQUIEL
            </button>
          </div>
          <div type="button" class="card border-success mb-3 bg-secondary" >
            <button class="card-body btn btn-md btn-secondary">
               BANCO EZEQUIEL
            </button>
          </div>
          <div type="button" class="card border-success mb-3 bg-secondary" >
            <button class="card-body btn btn-md btn-secondary">
               BANCO EZEQUIEL
            </button>
          </div>

          </div>
      </div>
  </div>
  <div class="col">
      <div class="col">
          <div class="card-body text-success alert-secondary" style="min-height: 35rem; max-height: 35rem; overflow-y:auto;">
              <div class="card-body text-success">
                <button type="button" class="btn btn-secondary btn-md mb-3">
                  SELECCIONAR TODO
                </button>
                <div style="position: relative;">
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 1
                  </button>
                </div>
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 2
                  </button>
                </div>
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 3
                  </button>
                </div>
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 4
                  </button>
                </div>
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 4
                  </button>
                </div>
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 4
                  </button>
                </div>
                <div type="button" class="card border-success mb-3 bg-secondary" >
                  <button class="card-body btn btn-md btn-secondary">
                     MODULO 4
                  </button>
                </div>
              </div>
              </div>
            </div>
      </div>
  </div>
</div>

