<div class="container">
    <div class="row">
        <div class="col-4 contenedor" *ngFor="let pro of reportes">
          <div class="row" >
              <div class="col-6">
                 {{pro.seminario}}-{{pro.banco}}
              </div>
              <div class="col-6 satisfaccion">
                Satisfaccion:Satisfecho
            </div>
            <div class="col-12 ">
              
                
             <progress class="barra" max="100"  value=50> </progress>
                
            </div>
          
               <div class="col-6 boton">
                <button type="button" class="btn btn-danger">Datos Socio</button>
            </div>
            <div class="col-6 ">
                <button type="button" class="btn btn-info">Pedido Oracion</button>
            </div>
          </div>
        </div>
    </div>
</div>
