<table class="table table-bordered" id="tblData">
    <thead>
        <tr>
            
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>

         
        </tr>
        <tr>
          
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
          
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
        
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
         
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
          
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
    </tbody>
</table>
<div class="contenedor-boton1">
    <button type="button" class="btn btn-success" onclick="exportTableToExcel('tblData')">Exportar</button>
</div>