<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>

         
        </tr>
        <tr>
            <td>2</td>
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Avlaro</td>
            <td>Alva</td>
            <td>Chipana</td>
            <td>987618614</td>
            <td>Mz a lt 14 nueva Alianza</td>
        </tr>
    </tbody>
</table>