<table class="table table-bordered" id="tblData">
    <thead>
        <tr>
            
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of reportes">
          
            <td>{{pro.NOMBRE}}</td>
            <td>{{pro.PATERNO}}</td>
            <td>{{pro.MATERNO}}</td>
            <td>{{pro.TELEFONO}}</td>
            <td>{{pro.DNI}}</td>
            <td>{{pro.CORREO}}</td>

         
        </tr>
     
    </tbody>
</table>
<div class="contenedor-boton1">
    <button type="button" class="btn btn-success" onclick="exportTableToExcel('tblData')">Exportar</button>
</div>