<body>
  <div class="container-fluid">
      <div class="row" style="margin-top:3%">
        <div class="col">
         <h1>Banco Comunal</h1>
        </div>
        <div class="col">
         <h1>Modulo</h1>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <select class="form-select bg-secondary" aria-label="Default select example" >
                  <option value="1">SEDE 1</option>
                  <option value="2">SEDE 2</option>
                  <option value="3">SEDE 3</option>
                </select>
          </div>
          <div class="col">
              <select class="form-select bg-secondary" aria-label="Default select example">
                  <option value="1">CATEGORIA 1</option>
                  <option value="2">CATEGORIA 2</option>
                  <option value="3">CATEGORIA 3</option>
                </select>
          </div>
      </div>
      <div class="row" style="margin-top:1%">
          <div class="col">
              <div class="card border-success mb-3" style="max-width: 100%;">
                  <div class="card-body text-success alert-secondary">
                      <button type="button" class="btn btn-secondary btn-md mb-3">
                          SELECCIONAR TODO
                      </button>
                      <div type="button" class="card border-success mb-3 bg-secondary" >
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary">
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary" >
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary">
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary" >
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary">
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary" >
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary">
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary" >
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                      <div type="button" class="card border-success mb-3 bg-secondary">
                          <div class="card-body text-success">
                              <input type="date">
                              <input style="float: right" type="date">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="col">
                  <div class="card border-success mb-3" style="max-width: 100%;">
                      <div class="card-body text-success">

                      </div>
                    </div>
              </div>
          </div>
      </div>
    </div>

</body>
