<table class="table table-bordered tabla">
    
    <thead>
        <tr>
            <th>Socio</th>
            <th> <select class="form-select" aria-label="Default select example">
                <option selected>Sesion</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select></th>
            
        </tr>
    </thead>
    <tbody>
        <tr >
           <td><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" >Añvaro Alva</a></td>
           <td>3/4</td>
            </tr>
           
            
       
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Asistencia Recursos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
    
                <thead>
                    <tr>
                        <th>Recurso</th>
                       
                        <th>Asistencia</th>
                        <th>Valoracion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>Pdf</td>
                        <td>Asistio</td>
                        <td>Satisfecho</td>
                        </tr>
                        <tr >
                            <td>Pdf</td>
                            <td>Asistio</td>
                            <td>Satisfecho</td>
                            </tr>
                            <tr >
                                <td>Pdf</td>
                                <td>Asistio</td>
                                <td>Satisfecho</td>
                                </tr>
                                <tr >
                                    <td>Pdf</td>
                                    <td>Asistio</td>
                                    <td>Satisfecho</td>
                                    </tr>
                                    
                       
                        
                   
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>