<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Completo</th>
            <th>Direccion</th>
            <th>Sesion 1</th>
            <th>Sesion 2</th>
            <th>Sesion 3</th>
            <th>Sesion 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
      

    </tbody>
</table>