<table class="table table-bordered" id="tblData">
    <thead>
        <tr>
            
            <th>Nombre Completo</th>
            <th>Direccion</th>
            <th>Sesion 1</th>
            <th>Sesion 2</th>
            <th>Sesion 3</th>
            <th>Sesion 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
        </tr>
        <tr>
           
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-check"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-check"></i></td>
        </tr>
        <tr>
           
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
           
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
           
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
           
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
        <tr>
            
            <td>Clark</td>
            <td>clarkkent@mail.com</td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
            <td><i class="fa-solid fa-circle-xmark"></i></td>
        </tr>
      

    </tbody>
</table>
<div class="contenedor-boton1">
    <button type="button" class="btn btn-success" onclick="exportTableToExcel('tblData')">Exportar</button>
</div>