<table class="table table-bordered" id="tblData">
    <thead>
        <tr>
            
            <th>Nombre Completo</th>
            <th>Direccion</th>
            <th>Recurso</th>
            <th>Participacion y Valoracion</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of reportes">
            
            <td>{{pro.SOCIO}}</td>
            <td>{{pro.CORREO}}</td>
            <td>{{pro.RECURSO}}</td>
            <td>{{pro.ASISTENCIA}}</td>
        </tr>
    
      

    </tbody>
</table>
<div class="contenedor-boton1">
    <button type="button" class="btn btn-success" onclick="exportTableToExcel('tblData')">Exportar</button>
</div>