.contenedor{
    padding-top: 30px;
}
.titulo1{
    font-size: 150%;
}
.btn-success{
    background-color: #007b5f;
}
.contenedor-opciones{
    padding-top: 10px;
}
.contenedor-boton{
   padding-left: 310px;
}
.contenedor-boton1{
    text-align:end;
    padding-right: 40px;
 }
 .tabla{
    height: 450px;
    padding-top: 30px;
 }