<div class="col-4 contenedor" >
    <div class="row" >
        <div class="col-6">
           {{nombreb}}-{{nombrem}}
        </div>
        <div class="col-6 satisfaccion">
          Satisfaccion:Satisfecho
      </div>
      <div class="col-12 ">
        
          
       <progress class="barra" max="100"  value={{progreso}}> </progress>
          
      </div>
     
        
    </div>
  </div>

<table class="table table-bordered tabla">
    
    <thead>
        <tr>
            <th>Socio</th>
            <th><select class="form-select" aria-label="Default select example" (change)="listartabla()" [(ngModel)]="model.sesion">
             
                <option value={{sesion.id_SESION}} *ngFor="let sesion of sesiones" >{{sesion.no_SESION}}</option>
            </select></th>
               
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reporte of reportes; let i=index" >
           <td >
               <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="litarmodal(i)" >{{reporte.PERSONA}}</a>
            </td>
            <td >
                 {{reporte.Asistencia}}
             </td>
            </tr>
           
            
       
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Asistencia Recursos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
    
                <thead>
                    <tr>
                        <th>Recurso</th>
                       
                        <th>Asistencia</th>
                        <th>Valoracion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mod of modal" >
                        <td>{{mod.RECURSO}}</td>
                        <td>{{mod.Asistencia}}</td>
                        <td>{{mod.Valoracion}}</td>
                        </tr>
                       
                                    
                       
                        
                   
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>