<div class="p row" *ngFor="let se of semi" style="margin-bottom: 60px;" >
  <h3>{{se.NO_SEMINARIO}}</h3>
  <img src="/assets/images/3.jpg" class="img-fluid" alt="" />
  <div class="botones">

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="height: 40px;">
      En vivo ahora
    </button>
    
   
</div>
<div class="botones">

  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="height: 40px;">
    Asistencia
  </button>
  
 
</div>




</div>



