<body>
    <div class="container2">
        <h1>Ahorrando en Pandemia</h1>
        <div class="texto-imagen">
            <div class="texto" >
                <h2>Capacitador:</h2>
                <h3>Julian Grandez</h3>
                <h2>Duración:</h2>
                <h3>2 horas</h3>
                <h2>Plataforma</h2>
                <h3>Facebook</h3>
            </div>
            <div class= imagen>
                <img src="https://www.eleconomista.com.mx/__export/1594342992581/sites/eleconomista/img/2020/07/09/fp1_100720.png_673822677.png" alt="#">
            </div>

        </div>
            <div class="botones">
          <button type="button" class="btn btn-primary">Ingresar Ahora</button>
          <button type="button" class="btn btn-warning">Registrar Asistencia</button>
        </div>
        </div>
</body>