<header
  class="w-100 config-nav-top d-flex justify-content-around align-items-center"
>
  <div class="h-100 d-flex align-items-center">
    <div ng-sidebar-content>
    </div>
  </div>
  <div>
    <h1 class="text-white">Desarrollo Integral</h1>
  </div>
  <div class="position-relative main-perfil">
    <div class="main-icon d-flex align-items-center">
      <i class="fas fa-user-circle icon-perfil"></i>
      <i class="fas fa-angle-down icon-desplegar"></i>
    </div>
    <div class="position-absolute perfil">
      <div class="perfil__container pt-3">
        <h1 class="text-dark fs-3 perfil__title">Bezaael Leguia</h1>
        <h3 class="text-white fs-5 text-center">Jefe de Bienestar Integral</h3>
        <button class="btn btn-warning">Salir</button>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-8" style="height: 600px; background-color: aqua;">
      <SIGCA-ingresarmodulo></SIGCA-ingresarmodulo>
    </div>
    <div class="col-4" style="height: 600px; background-color: rgb(241, 123, 123)">
      <div class="row">
        <div class="col-12" style="height: 300px;">
          <SIGCA-ingresarseminario></SIGCA-ingresarseminario>
        </div>
        <div class="col-12" style="height: 300px;">
          <SIGCA-registrarpedido></SIGCA-registrarpedido>
        </div>
      </div>
    </div>
  </div>
</div>



