.margenes-costado {
  padding: 0;
  height: 100vh;
}

.config-nav-top {
  height: 100%;
  background-color: #007b5f;
  /* border: 1px solid black; */
}
.size-1 {
  height: 10%;
}
.size-2 {
  height: 90%;
}
.modulo{
height: 600px;
}

.semi{
height: 600px;
background-color: rgb(241, 123, 123);
}

.semin{
  height: 300px;
}
