<div class="container-fluid margenes-costado">
  <header class="row m-0">
    <div class="col-xl-12 p-0" style="height: 65px;">
      <SIGCA-nav-top></SIGCA-nav-top>
    </div>

  </header>
</div>
    <div class="row m-0 size-2" style="background-color: rgb(255, 255, 255); height: 100%;">

<button (click)="abrir()"> Abiaasasas</button>

      <div class="col-8 modulo align-items-center">

        <SIGCA-ingresarmodulo></SIGCA-ingresarmodulo>
      </div>
      <div class="col-4 semi">
          <div class="col-12" style="height: 360px;">
            <div
              style="box-shadow: 2px 2px 5px rgb(124, 124, 124); border-radius: 10px; background-color: rgb(255, 255, 255); margin-right: 15px; margin-top: 20px; height: 320px;">
              <div class="pedido" style="height: 40px;">
                <div style="height: 10px;"></div>
                <h1 style="font-size: medium">
                  Seminarios Webinar</h1>
              </div>
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000"
                    style="width: 100%; height: 280px; background-color:rgb(255, 255, 255);">

                  </div>
                  <div class="carousel-item" data-bs-interval="2000" style="width: 100%; height: 280px;"
                    *ngFor="let se of semi; let i=index">
                    <div class="p row" style="margin-bottom: 60px;">
                      <h3>{{se.NO_SEMINARIO}}</h3>
                      <img src="/assets/images/3.jpg" class="img-fluid" alt="" />
                      <div class="botones">

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                          data-bs-target="#entrarSeminario" style="height: 40px;" (click)="entrar(i)">
                          En vivo ahora
                        </button>


                      </div>
                      <div class="botones">

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Asistencia"
                          style="height: 40px;" (click)="Asistencia(i)">
                          Asistencia
                        </button>


                      </div>
                    </div>

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span aria-hidden="true" style="color: black;"><i class="fas fa-caret-left"></i></span>

                  </button>

                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span aria-hidden="true" style="color: black;"><i class="fas fa-caret-right"></i></span>

                  </button>

                </div>
              </div>
            </div>

          </div>

            <div
              style="box-shadow: 2px 2px 5px rgb(124, 124, 124); border-radius: 10px; background-color: rgb(255, 255, 255); margin-right: 15px; height: 260px;">
              <div class="pedido" style="height: 40px;">
                <div style="height: 10px;"></div>
                <h1 style="font-size: medium">
                  Pedidos de Oración</h1>
              </div>
              <div class="p row">
                <h2>Y todo lo que pidiereis en oración, creyendo, lo recibiréis</h2>
                <h3>Mateo 21:22</h3>
                  <img src="/assets/images/2.jpg" class="img-fluid" alt="" />
                  <div class="botones">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Registrar mi pedido
                    </button>
                  </div>
                </div>
              </div>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">DEJAR MI PEDIDO DE ORACIÓN</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                              [(ngModel)]="model.des"
                              (click)="limpiar()">Escribir pedido, agradecimiento o necesidad</textarea>
                            <h2>Y todo lo que pidiereis en oración, creyendo, lo recibiréis.</h2>
                            <h3>Mateo 21:22</h3>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="guardarpedido()">Registrar mi pedido</button>

                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="modal fade" id="entrarSeminario" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <br>

                        <div class="modal-header">

                          <h5 class="title" id="exampleModalLabel">{{asis.NO_SEMINARIO}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="texto-imagen">
                            <div class="texto">
                              <h2 class="cap">Seminario:</h2>
                              <h3 class="nom">{{asis.NO_SEMINARIO}}</h3>
                              <h2 class="cap">Fecha de inicio:</h2>
                              <h3 class="nom">{{asis.FE_INICIO |date:"mediumDate" }}</h3>
                              <h2 class="cap">Fecha de cierre:</h2>
                              <h3 class="nom">{{asis.FE_FIN |date:"mediumDate"}}</h3>
                            </div>
                            <div class=imagen>
                              <img class="foto"
                                src="https://www.eleconomista.com.mx/__export/1594342992581/sites/eleconomista/img/2020/07/09/fp1_100720.png_673822677.png"
                                alt="#">
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><a
                              href={{asis.URL_SEMINARIO}} target="_blank"
                              style="text-decoration:none; color: aliceblue;">Entrar</a></button>
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#Asistencia" style="background-color:rgb(209, 23, 23);" (click)="Asis()">
                            Registrar Asistencia
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="Asistencia" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"
                            style=" padding-top: 15px; text-align: center; font-size: 20px;">Registra tu Asistencia</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              [(ngModel)]="mo.comentario" (click)="limpiar()">Escribir comentario</textarea>
                          </div>
                          <div class="textoa" style="padding-top: 5px;">
                            <h2>Con el objetivo de evaluar su asistencia y
                              participación,es esencial que usted califique y
                              deje un comentario sobre lo que le ah parecido este seminario</h2>
                          </div>
                          <div class="calificacion">
                            <span class="fas fa-star" id="1estrella" onclick="calificar(this)"></span>
                            <span class="fas fa-star" id="2estrella" onclick="calificar(this)"></span>
                            <span class="fas fa-star" id="3estrella" onclick="calificar(this)"></span>
                            <span class="fas fa-star" id="4estrella" onclick="calificar(this)"></span>
                            <span class="fas fa-star" id="5estrella" onclick="calificar(this)"></span>
                          </div>

                        </div>
                        <div class="modal-footer">

                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="guardarasistencia()">Registrar Asistencia</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              
<footer style="margin-top: 61px;">
  <div style="background-color: #02906f; height: 45px; color: white; text-align: center;">
<div>
  <div style="height: 10px;"></div>
  <b>
    Copyright © 2021 ADRA-Perú | Área de Bienestar y Desarrollo Integral
</b>
</div>
  </div>
</footer>

