.margenes-costado {
  padding: 0;
  height: 100vh;
}
body{
  background-color: rgb(226, 226, 226);
}

.config-nav-top {
  height: 100%;
  background-color: #007b5f;
  /* border: 1px solid black; */
}
.size-1 {
  height: 10%;
}
.size-2 {
  height: 90%;
}
