
<div class="container-fluid margenes-costado">
  <header class="row m-0 size-1">
    <div class="col-xl-12 p-0">
      <SIGCA-nav-top ></SIGCA-nav-top>
    </div>
  </header>

  

  <section class="row m-0 size-2">
    <div class="col-8" style="height: 600px; background-color: aqua;">
      <SIGCA-ingresarmodulo></SIGCA-ingresarmodulo>
    </div>
    <div class="col-4" style="height: 600px; background-color: rgb(241, 123, 123)">
      <div class="row">
        <div class="col-12" style="height: 300px;">
          
           <!-- <SIGCA-ingresarseminario></SIGCA-ingresarseminario> -->

        </div>
        <div class="col-12" style="height: 300px;">
          <!-- <SIGCA-registrarpedido></SIGCA-registrarpedido> -->
        </div>
      </div>
    </div>
  </section>
 
</div>




