<p>crear-seminario-formulario3 works!</p>

<div class="contenido23">
    <aside class="izquierdacont">
        <h1>Inversion</h1>
        <div class="info">
            <h1>En Vivo</h1>
        </div>
        <button id="boton3" type="button" class="btn btn-success"><h3>Ingresar</h3></button>

    </aside>

    <section class="mediocont">
        <h1>Inversion</h1>
        <div class="info">
            <h1>En Vivo</h1>
        </div>
        <button id="boton3" type="button" class="btn btn-success"><h3>Ingresar</h3></button>

    </section>
    <section class="derechacont">
        <h1>Inversion</h1>
        <div class="info">
            <h1>En Vivo</h1>
        </div>
        <button id="boton3" type="button" class="btn btn-success"><h3>Ingresar</h3></button>

    </section>    
   </div>
