*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif ;
}

.container {
    width: 600px;
    height: 700px;
    margin-top: 50px;
    margin-left: 350px;
    background-color: rgb(146, 145, 145);
    border: 1px solid black;
}
.contenido{
    display: flex;
}
.contenido2{
    width: 1100px;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(40, 87, 40);
    display: flex;
}
.titulo {
    margin-top: 30px;
    text-align: center;

}
.titulo2{
    color: white;
    text-align: center;
}
#boton{
    margin-left: 620px;
    background-color: white;
    border: none;
    background: none;
}
#boton2{
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 50px;
    
    border: 1px solid black;
}
.izquierda{
    width: 340px;
    height: 500px;
    margin: 0;
    margin-left: 50px;
    padding: 5px; 
}
.derecha{
    width: 550px;
    height: 490px;
    margin-right: 40px;
    
}
.caja{
    width: 330px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    margin-top: 5px;

}
.caja2{
    width: 330px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
}
#busqueda{
    width: 240px;
    height: 40px;
    border-radius: 10px;
}
#busquedaboton{
    width: 300px;
    height: 40px;
    border-radius: 10px;

}
.cont{
    width: 550px;
    height: 65px;
    margin-top: 10px;
    
    display: flex;
    
}
.cont2{
    width: 550px;
    height: 415px;
    border: 1px solid black;    
    background-color: white;

    
}
.cont3{
    width: 550px;
    height: 300px;
    margin-top: 90px;
 
}
.combo{
    display: flex;
    
}
#combo1{
    width: 115px;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
}
#combo2{
    width: 160px;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
}
#check{
    margin-left: 200px;
    margin-top: 10px;
    
}
.contenido23{
    width: 1100px;
    height: 500px;
    
    display: flex;
}
.izquierdacont{
    width: 350px;
    height: 450px;
    background-color: rgb(80, 136, 80);
    text-align: center;
    border: 3px solid black;
}
.mediocont{
    width: 350px;
    height: 450px;
    background-color: rgb(80, 136, 80);
    text-align: center;
    border: 3px solid black;

}
.derechacont{
    width: 350px;
    height: 450px;
    background-color: rgb(80, 136, 80);
    text-align: center;
    border: 3px solid black;

}
.info{
    width: 230px;
    height: 180px;
    background-color: rgb(91, 91, 187);
    margin-top: 60px;
    text-align: center;
    color: yellow;
    border: 3px solid black;
}
#boton3{
    margin-top: 20px;
}
